<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Nest map | Pokemon GO
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  link(rel="stylesheet", href="./js/lib/leaflet.css")
  link(rel="stylesheet", href="./main.css")

body
  #map

  script(defer src="./js/lib/leaflet.js")
  script(type="module" src="./js/main.src.js")
